@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.fixed_nav_container {
    position: sticky;
    top: 0;
    margin: 0 auto;
    max-width: 912px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 7px 0;
    border-radius: 7px;
    z-index: 1;
    
    .logo {
        img {
            max-width: 200px;
            height: 50px;
        }
        outline: none;
    }
    .anchor {
        outline: none;
        text-decoration: none;
        color: black;
        font-size: 20px;
        transition: 0.3s;
        
        &:hover {
            padding-bottom: 13px;
        }
    }
    .languages {
        display: flex;
        justify-content: space-between;
        max-width: 100px;
        button {
            font-size: 15px;
            outline: none;
            width: 45px;
            height: 30px;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            transition: 0.3s;
            background: none;
            
            &:hover {
                background: rgb(239, 239, 239);
                transition: 0.3s;
            }
        }
    }
}